# Python / Backend
venv/
__pycache__/
*.duckdb
.env
.ipynb_checkpoints/
*.pyc

# Node / Plasmo Extension
node_modules/
.plasmo/
build/
dist/
.parcel-cache/

# OS / Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/